table{
    border-collapse: collapse;
}
table th, td{
    padding: 15px;
}

.selected{
    background-color: #4CAF50;
}

.grid{
    display: inline-block;


}

#grid2{
}

.fired{
    background-color: red;
}

#username1{
    background-color: aquamarine;
}

#username2{
    background-color: darkorange;
}